
<div class="card">
    <div class="card-body">
        <fieldset>
            <legend>Filters </legend>

            <hr />
            <div class="mb-3">
                <form class="row g-3" method="post" action="/Home/filterTable">
                    <div class="col-2">
                        <label>Animal id</label>
                        <input name="Identification" class="form-control md-2" type="text" placeholder="Identification" aria-label="Search">
                    </div>
                    <div class="col-3">
                        <label>Name</label>
                        <input name="Name" class="form-control md-2" type="text" placeholder="Name" aria-label="Name">
                    </div>
                    <div class="col-3">
                        <label>Breed</label>
                        <input name="Breed" class="form-control md-2" type="text" placeholder="Breed" aria-label="Breed">
                    </div>
                    <div class="col-2">
                        <label>BirthDate</label>
                        <input name="BirthDate" class="form-control md-2" type="date" id="BirthDate" pattern="\d{2}/\d{2}/\d{4}" />
                    </div>
                    <div class="col-2 text-center d-flex align-items-center justify-content-center">
                        <div class="form-check form-switch">
                            <input name="IsActive" class="form-check-input" type="hidden" value="false">
                            <input name="IsActive" class="form-check-input" type="checkbox" id="flexSwitchState" checked>
                            <label class="form-check-label " for="flexSwitchState">state</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Sex</label>
                        <select name="Sex" class="form-select" aria-label="Sex">
                            <option selected disabled>Select one option</option>
                            @foreach (var item in ViewBag.SexOptions)
                            {
                                <option value="@item.Text">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Price</label>
                        <span>$</span><input name="Price" class="form-control md-2" min="0" type="number" placeholder="Price" aria-label="Price">
                    </div>
                    <div class="col-12 text-end">
                        <button class="col-2 btn btn-outline-primary " type="submit">
                            <i data-feather="filter"></i>
                            Filter
                        </button>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>
<style>
    .form-check-label {
        order: -1;
        margin-right: 10px;
    }
</style>

