@{
    ViewData["Title"] = "Management Animals";
}
<header>
    <h1 class="text-center mt-3 ">@ViewData["Title"]</h1>

</header>


<div id="filtersComponent">
    <partial name="FiltersComponent" />
</div>

<div id="gridComponent">
    <partial name="GridComponent" />
</div>

<div id="tableComponent">
    <partial name="TableComponent" />
</div>
