@{
    ViewData["Title"] = "Management Animals";
}
<header>
    <h1 class="text-center mt-3 ">@ViewData["Title"]</h1>

</header>


<div id="_FiltersPartial">
    <partial name="_FiltersPartial" />
</div>

<div id="_GridPartial">
    <partial name="_GridPartial" />
</div>

<div id="_TablePartial">
    <partial name="_TablePartial" />
</div>



