<header>
    <h1 class="text-center mt-3 ">Management Animals</h1>

</header>

<div class="card">
    <div class="card-body">
        <fieldset>
            <legend>Filters </legend>

            <hr />
            <div class="mb-3">
                <form class="row g-3">
                    <div class="col-3">
                        <label>Animal id</label>
                        <input class="form-control md-2" type="text" placeholder="Identification" aria-label="Search">
                    </div>
                    <div class="col-3">
                        <label>Name</label>
                        <input class="form-control md-2" type="text" placeholder="Name" aria-label="Name">
                    </div>
                    <div class="col-3">
                        <label>Breed</label>
                        <input class="form-control md-2" type="text" placeholder="Breed" aria-label="Breed">
                    </div>
                    <div class="col-3">
                        <label>BirthDate</label>
                        <input class="form-control md-2" type="text" placeholder="BirthDate" aria-label="BirthDate">
                    </div>
                    <div class="col-3">
                        <label>Sex</label>
                        <select class="form-select" aria-label="Sex">
                            <option selected>Select one option</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Price</label>
                        <input class="form-control md-2" type="text" placeholder="Price" aria-label="Price">
                    </div>
                    <div class="col-2">
                        @*<span class="badge bg-success">Activo</span>
                        <span class="badge bg-danger">Inactivo</span>*@
                        <label>state</label>
                        <input class="form-control md-2" type="text" placeholder="state" aria-label="state">
                    </div>
                    <div class="col-12 text-end">
                        <button class="col-2 btn btn-outline-primary " type="submit">
                            <i data-feather="filter"></i>
                            Filter
                        </button>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>


