<div class="row justify-content-center">
    <div class="col" >
        <div class="slider_img-box">
            <img class="font-default animate__animated animate__zoomInDown" src="images/font.png" alt="">
        </div>
    </div>
</div>
