html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.slider_img-box {
    display: flex;
    justify-content: center;
}

    .slider_img-box img {
        max-width: 100%;
        height: auto;
    }

.font-default{
    height:500px !important
}

